/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
html {
    font-family: sans-serif;
  }
.debug{
    border-top: 1px solid white;
}
body{
    min-width: 1200px;
    background-color: black;
}
.white-text{
    color: white;
}


/* Header */
    /* Nav */
nav{
    background-color: black;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0%;
    z-index: 1000;
}    
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.button-1{
    font-size: 1.8vh;
    background-color: #61574e;
    padding: 2px 5px;
    border-radius: 5px;
    vertical-align: middle;
}

/* Main */
main{
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 180px);
    margin-top: 90px;
    margin-bottom: 110px;
    overflow-y: auto;
}
.flex-container-2{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 100%;

}
.card{
    width: calc(100% / 7);
    background-image: url(https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.grid{
    border-top: 10px solid black;
    border-left: 2.5px solid black;
    border-right: 2.5px solid black;
}
.user-info{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.7vh;
    padding: 1px 2px;
    background: linear-gradient(90deg, rgba(94,107,116,1) 0%, rgba(94,107,116,1) 50%, rgba(94,107,116,0) 110%);
}